
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 border border-info rounded p-5">
      <h2>New Game</h2>

      La grille : <% @letters.each do |letter| %>
        <%= letter %>
      <% end %>
    <form action="/score" method="post" data-turbo="false">
      <label for="games">Compose le mot le plus long possible à l'aide de la grille :</label>
      <input type="text" name="games" class="mt-3">
      <input type="submit" value="Play">
      <%= hidden_field_tag :letters, @letters %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
    </div>
  </div>
</div>
